body,
html{
	overflow-x:hidden;
	word-wrap: break-word;
}

img{
	max-width:100%;
	height:auto;
}

p.lead{
	font-size:1.3rem;
}

.red{
color:red;
}

.page{
	max-width:71.428rem;
	margin-left:auto;
	margin-right:auto;
	padding-left:1rem;
	padding-right:1rem;
}