<!Doctype HTML>
<html lang="en-US">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title"
          content="ZacDavidM">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<meta name="mobile-web-app-capable" content="yes">
     
<title>Web and Web Apps | ZacDavidM </title>

<!-- iOS -->

<link rel="apple-touch-icon" href="/touch-icon-iphone.png">
<link rel="apple-touch-icon" sizes="76x76" href="/touch-icon-ipad.png">
<link rel="apple-touch-icon" sizes="120x120" href="/touch-icon-iphone-retina.png">
<link rel="apple-touch-icon" sizes="152x152" href="/touch-icon-ipad-retina.png">

<link rel="apple-touch-startup-image" href="/startup.png">

<!-- Android web app -->
<link rel="icon" sizes="192x192" href="/launcher-icon-4x.png">

<link rel="manifest" href="/manifest.json">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="/styles.css">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

</head>
<body ng-app="Todo">
<div class="page">

<div class="row">
  <aside class="col-md-4">
  <h1>Zac David M</h1>
  <img title="much sun. so wow" src="https://avatars0.githubusercontent.com/u/2008027?v=3&s=460" alt="Zac on a bridge">

	<h2>Teaching:</h2>
	<ul>
		<li>
			<a href="/web-and-web-apps">Web and Web Apps</a>
		</li>
	</ul>

  </aside>
  <main class="col-md-8">
  <h1>Web and Web Apps</h1>
  	<p class="lead">this is some paragraph text showing what you can do. <br>
Can I make a second paragraph  by hitting return?<br>
No! use a &lt;br&gt; tag to make a line break (in the same paragraph).</p>

	<!-- need to show a comment example -->

	<!--p> hello there commented paragraph </p-->

	<p>
	left off at: <a href="http://www.w3schools.com/html/html_paragraphs.asp">here</a>
	</p>

	<div class="embed-responsive embed-responsive-16by9">
  	<!--iframe class="embed-responsive-item" src="http://games.cdn.famobi.com/html5games/j/jetpack-master/v2/?fg_domain=play.famobi.com&fg_aid=A1000-1&fg_uid=3d29f086-1059-4efb-9b1a-4b6460d35607&fg_pid=4638e320-4444-4514-81c4-d80a8c662371&fg_beat=759"></iframe-->
	</div>

	<h2 id="students">Students</h2>

	<p class="lead red">Warning: My students are awesome! So much more awesome than yours!</p>

	<p>
	Zac: ZacDavidM <a target="_blank" href="http://github.com/zacdavidm/zacdavidm.github.io">(code)</a> <a href="http://zacdavidm.github.io">(site)</a> <br>
	Julia: XXXJimmyXXX <a target="_blank" href="http://github.com/XXXJimmyXXX/XXXJimmyXXX.github.io">(code)</a> <a target="_blank" href="http://XXXJimmyXXX.github.io">(site)</a> <br>
	Jimmy: potato-craft <a target="_blank" href="http://github.com/potato-craft/potato-craft.github.io">(code)</a> <a target="_blank" href="http://potato-craft.github.io">(site)</a> <br>
	Anna: Amgestiehr3 <a target="_blank" href="http://github.com/Amgestiehr3/Amgestiehr3.github.io">(code)</a> <a target="_blank" href="http://Amgestiehr3.github.io">(site)</a> <br>
	James: TheAndroidMaster <a target="_blank" href="http://github.com/TheAndroidMaster/TheAndroidMaster.github.io">(code)</a> <a target="_blank" href="http://TheAndroidMaster.github.io">(site)</a> <br>
	</p>

	<p> <a href="http://www.cocos2d-x.org/">cocos 2d-x</a> is free and open source for game development. looks cool.</p>

	<div class="page-container" ng-controller="TodoCtrl">
    <input type="text" ng-model="message" />
    <span> {{ message }} </span>
    
     <h2>Todo</h2>

      <ul class="todo-list">
		<li ng-repeat="todo in todos track by $index">
          <span>{{ todo }}</span>
          <button class="bt bt-achieve" ng-click="done(todo)">Done</button>
        </li>
      </ul>
      <ul class="add-todo">
    	<li>
     	 <input type="text" class="txt" placeholder="New Todo"
             ng-model="newTodo" ng-keyup="add($event)" />
    	</li>
  	  </ul>
    </div>  
	
	<p>iOS webapp: https://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html#//apple_ref/doc/uid/TP40002051-CH3<br>
	iOS web app gist: https://gist.github.com/tfausak/2222823<br>
	android/chrome webapp: https://developer.chrome.com/multidevice/android/installtohomescreen <br>
	appcache for offline caching: https://docs.webplatform.org/wiki/apis/appcache/ApplicationCache
	</p>
	
  </main>
</div>


</div>

<script src="/scripts.js"></script>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>